::-webkit-scrollbar {
  /* -webkit-appearance: ; */
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #fc7753;
  /* box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); */
}

.title {
  margin-top: -15px;
  color: #fc7753;
  font-size: 42px;
  text-align: center;
  text-decoration: underline;
}

.decreaseMarginBottom {
  margin-bottom: -50px;
}

.half {
  margin-top: 30px;
  height: 75vh;
  /* border:5px solid #001414; */
  border-radius: 25px;
}

.homeButton {
  font-size: 14px;
  background-color: #fc7753;
  color: #001414;
  margin-bottom: -40px;
  margin-top: 15px;
  cursor: pointer;
}

.addButton {
  width: 100%;
  margin-left: -1px;
  margin-top: 20px;
  font-size: 14px;
  background-color: #fc7753;
  color: #001414;
  cursor: pointer;
}

.btn {
  font-size: 12px;
}

.button-success {
  background-color: #00c951;
  color: white;
}

.button-danger {
  background-color: #ff3646;
  color: white;
}

.lineItem {
  color: #fc7753;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: -5px;
}

.taskListHolder {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 45vh;
}

.timerHolder {
  border-top: px solid #fc7753;
}

.btnColour {
  background-color: #fc7753;
  color: #001414;
}

.taskHolderContent {
  margin-bottom: 10px;
  margin-right: 20px;
  border: 2px solid #fc7753;
  border-radius: 10px;
}

.taskButtons {
  margin-top: -15px;
  display: flex;
  justify-content: center;
}

.task-page-buttonStyling {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 991px) {
  .title {
    font-size: 32px;
  }
  .extraTopPadding {
    padding-top: 70px;
  }
}
