.center-div {
  display: flex;
  justify-content: center;
}

.chart-container {
  position: relative;
  height: 40vh;
  width: 40vw;
}

.title {
  font-size: 42px;
  text-align: center;
  margin-top: -20px;
}

.card-custom {
  border-radius: 25px;
  background-color: #042020;
}

@media only screen and (max-width: 991px) {
  .chart-container {
    height: 40vh;
    width: 80vw;
  }
}
