/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Roboto";
  background-color: #001414;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(./assets/fonts/RobotoCondensed-Light.ttf) format("truetype");
}

.spacing {
  padding-bottom: 10px;
}

.holder {
  text-align: center;
  height: 100px;
  padding-top: 15px;
  background-color: #f2efea;
  color: #fc7753;
  border: 1px solid #fc7753;
}


.nameBadge {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 12px;
}